@import "app/styles/variables";

:host ::ng-deep {
  .player-balance {
    width: fit-content;
    margin: auto;
    background: $balance;
    background: $balance-gradient;
    display: flex !important;
    align-items: center !important;

    .mat-mdc-chip-action-label {
      display: flex !important;
      align-items: center !important;
    }

    .add {
      color: green !important;
    }

    .subtract {
      color: red !important;
    }
  }
}
