<div class="welcomePlayerDialog">
  <h1 mat-dialog-title>{{ "dialogs.welcomePlayer.title" | translate }}</h1>
  <div mat-dialog-content>
    <h2>
      {{ "dialogs.welcomePlayer.welcomeGift" | translate }}
    </h2>
    <p translate>dialogs.welcomePlayer.detailGift</p>
    <app-balance
      [balance]="data.welcomePlayerAmmount"
      [balanceType]="balanceType"
    ></app-balance>
  </div>
  <div mat-dialog-actions>
    <button mat-fab extended color="accent" mat-dialog-close cdkFocusInitial>
      <mat-icon>savings</mat-icon>
      {{ "dialogs.welcomePlayer.getGift" | translate }}
    </button>
  </div>
</div>
