<app-toolbar [player]="player$ | async"></app-toolbar>

<ng-container *ngIf="progress$ | async; let progress">
  <mat-progress-bar
    *ngIf="progress?.loading"
    class="progress"
    [color]="progress?.color"
    [mode]="progress?.mode"
    [value]="progress?.value"
    [bufferValue]="progress?.bufferValue"
  >
  </mat-progress-bar>
</ng-container>
<div>
  <button (click)="useSocket()">useSocket</button>
</div>

<div class="content" [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>
<footer></footer>
