.player-summary {
  background: rgb(87, 246, 255);
  background: linear-gradient(
    90deg,
    rgba(87, 246, 255, 1) 0%,
    rgba(63, 145, 181, 1) 20%,
    rgba(63, 81, 181, 1) 100%
  );
  color: white;
  width: max-content;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
