<section>
  <mat-toolbar color="primary">
    <!-- <button
      mat-icon-button
      disabled
    >
      <mat-icon>menu</mat-icon>
    </button> -->
    <span [translate]="'toolbar.title'"></span>
    <span *ngIf="player?.id">&nbsp;-&nbsp;{{ player?.name }}</span>

    <span class="spacer"></span>

    <app-balance [balance]="player?.amount"></app-balance>
    <!-- <button
      mat-icon-button
      class="example-icon"
    >
      <mat-icon>settings</mat-icon>
    </button> -->
  </mat-toolbar>
</section>
