.spacer {
  flex: 1 1 auto;
}

.player-amount {
  color: black;
  background: gold;
  border: #7e7023 solid;
  border-radius: 50px;
  .amount {
    margin-right: 5px;
  }

  .mat-icon {
    padding-top: 2px;
  }
}
